USE [master]
GO
/****** Object:  Database [LeaveManagementSystem2]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE DATABASE [LeaveManagementSystem2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LeaveManagementSystem2', FILENAME = N'D:\DBI202_KienNT\Setup\MSSQL16.MSSQLSERVER\MSSQL\DATA\LeaveManagementSystem2.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LeaveManagementSystem2_log', FILENAME = N'D:\DBI202_KienNT\Setup\MSSQL16.MSSQLSERVER\MSSQL\DATA\LeaveManagementSystem2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LeaveManagementSystem2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LeaveManagementSystem2]
GO
/****** Object:  Table [dbo].[Divisions]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Divisions](
	[DivisionID] [int] IDENTITY(1,1) NOT NULL,
	[DivisionCode] [varchar](10) NOT NULL,
	[DivisionName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DivisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DivisionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](20) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[HireDate] [date] NOT NULL,
	[DivisionID] [int] NOT NULL,
	[ManagerID] [int] NULL,
	[IsActive] [bit] NULL,
	[LastLogin] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[AvatarPath] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveTypes]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveTypes](
	[LeaveTypeID] [int] IDENTITY(1,1) NOT NULL,
	[LeaveTypeCode] [varchar](20) NOT NULL,
	[LeaveTypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DefaultDaysPerYear] [int] NULL,
	[RequiresApproval] [bit] NULL,
	[IsPaid] [bit] NULL,
	[AllowCustomReason] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LeaveTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LeaveTypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveReasonTemplates]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveReasonTemplates](
	[TemplateID] [int] IDENTITY(1,1) NOT NULL,
	[LeaveTypeID] [int] NOT NULL,
	[ReasonText] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[UsageCount] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequests]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[RequestCode] [varchar](50) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[LeaveTypeID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[TotalDays] [decimal](5, 1) NOT NULL,
	[ReasonTemplateID] [int] NULL,
	[CustomReason] [nvarchar](1000) NULL,
	[Reason] [nvarchar](1000) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[ProcessedBy] [int] NULL,
	[ProcessedDate] [datetime] NULL,
	[ProcessedNote] [nvarchar](1000) NULL,
	[AttachmentPath] [varchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RequestCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LeaveRequestsFull]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_LeaveRequestsFull] AS
SELECT 
    lr.RequestID,
    lr.RequestCode,
    lr.StartDate,
    lr.EndDate,
    lr.TotalDays,
    lr.ReasonTemplateID,
    lrt.ReasonText AS TemplateReasonText,
    lr.CustomReason,
    lr.Reason AS FinalReason,
    lr.Status,
    lr.CreatedAt,
    lr.UpdatedAt,
    lr.ProcessedDate,
    lr.ProcessedNote,
    e.EmployeeID,
    e.EmployeeCode,
    e.FullName AS EmployeeName,
    e.Email AS EmployeeEmail,
    d.DivisionID,
    d.DivisionName,
    lt.LeaveTypeID,
    lt.LeaveTypeName,
    lt.LeaveTypeCode,
    lt.AllowCustomReason,
    m.EmployeeID AS ManagerID,
    m.FullName AS ManagerName,
    m.Email AS ManagerEmail,
    p.EmployeeID AS ProcessedByID,
    p.FullName AS ProcessedByName,
    CASE 
        WHEN lr.CustomReason IS NOT NULL THEN 'Custom'
        WHEN lr.ReasonTemplateID IS NOT NULL THEN 'Template'
        ELSE 'Unknown'
    END AS ReasonType
FROM LeaveRequests lr
INNER JOIN Employees e ON lr.EmployeeID = e.EmployeeID
INNER JOIN Divisions d ON e.DivisionID = d.DivisionID
INNER JOIN LeaveTypes lt ON lr.LeaveTypeID = lt.LeaveTypeID
LEFT JOIN LeaveReasonTemplates lrt ON lr.ReasonTemplateID = lrt.TemplateID
LEFT JOIN Employees m ON e.ManagerID = m.EmployeeID
LEFT JOIN Employees p ON lr.ProcessedBy = p.EmployeeID;
GO
/****** Object:  Table [dbo].[LeaveQuotas]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveQuotas](
	[QuotaID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[LeaveTypeID] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[TotalDays] [decimal](5, 1) NOT NULL,
	[UsedDays] [decimal](5, 1) NULL,
	[RemainingDays] [decimal](5, 1) NOT NULL,
	[CarryOverDays] [decimal](5, 1) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuotaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmployeeID] ASC,
	[LeaveTypeID] ASC,
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EmployeeLeaveBalance]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_EmployeeLeaveBalance] AS
SELECT 
    e.EmployeeID,
    e.EmployeeCode,
    e.FullName,
    e.Email,
    d.DivisionName,
    lt.LeaveTypeName,
    lq.Year,
    lq.TotalDays,
    lq.UsedDays,
    lq.RemainingDays,
    lq.CarryOverDays,
    CASE 
        WHEN lq.RemainingDays < 0 THEN 'Exceeded'
        WHEN lq.RemainingDays <= 2 THEN 'Low'
        ELSE 'Normal'
    END AS BalanceStatus
FROM Employees e
INNER JOIN LeaveQuotas lq ON e.EmployeeID = lq.EmployeeID
INNER JOIN LeaveTypes lt ON lq.LeaveTypeID = lt.LeaveTypeID
INNER JOIN Divisions d ON e.DivisionID = d.DivisionID
WHERE e.IsActive = 1;
GO
/****** Object:  View [dbo].[vw_PendingLeaveRequests]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PendingLeaveRequests] AS
SELECT 
    lr.RequestID,
    lr.RequestCode,
    lr.StartDate,
    lr.EndDate,
    lr.TotalDays,
    lr.Reason AS FinalReason,
    lr.CustomReason,
    lr.CreatedAt,
    e.EmployeeCode,
    e.FullName AS EmployeeName,
    d.DivisionName,
    lt.LeaveTypeName,
    m.FullName AS ManagerName,
    m.EmployeeID AS ManagerID,
    DATEDIFF(DAY, lr.CreatedAt, GETDATE()) AS DaysPending,
    CASE 
        WHEN lr.CustomReason IS NOT NULL THEN 'Custom'
        WHEN lr.ReasonTemplateID IS NOT NULL THEN 'Template'
        ELSE 'Unknown'
    END AS ReasonType
FROM LeaveRequests lr
INNER JOIN Employees e ON lr.EmployeeID = e.EmployeeID
INNER JOIN Divisions d ON e.DivisionID = d.DivisionID
INNER JOIN LeaveTypes lt ON lr.LeaveTypeID = lt.LeaveTypeID
LEFT JOIN Employees m ON e.ManagerID = m.EmployeeID
WHERE lr.Status = 'InProgress';
GO
/****** Object:  View [dbo].[vw_ReasonTemplateStatistics]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ReasonTemplateStatistics] AS
SELECT 
    lt.LeaveTypeID,
    lt.LeaveTypeName,
    lt.LeaveTypeCode,
    lrt.TemplateID,
    lrt.ReasonText,
    lrt.UsageCount,
    COUNT(lr.RequestID) AS ActualUsageInRequests,
    lrt.CreatedAt,
    CASE 
        WHEN lrt.UsageCount >= 10 THEN 'Popular'
        WHEN lrt.UsageCount >= 5 THEN 'Medium'
        ELSE 'Low'
    END AS PopularityLevel
FROM LeaveReasonTemplates lrt
INNER JOIN LeaveTypes lt ON lrt.LeaveTypeID = lt.LeaveTypeID
LEFT JOIN LeaveRequests lr ON lrt.TemplateID = lr.ReasonTemplateID
WHERE lrt.IsActive = 1
GROUP BY 
    lt.LeaveTypeID, lt.LeaveTypeName, lt.LeaveTypeCode,
    lrt.TemplateID, lrt.ReasonText, lrt.UsageCount, lrt.CreatedAt;
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditID] [bigint] IDENTITY(1,1) NOT NULL,
	[TableName] [varchar](100) NOT NULL,
	[RecordID] [int] NOT NULL,
	[Action] [varchar](20) NOT NULL,
	[EmployeeID] [int] NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[IPAddress] [varchar](50) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeRoles]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRoles](
	[EmployeeRoleID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[AssignedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmployeeID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Features]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Features](
	[FeatureID] [int] IDENTITY(1,1) NOT NULL,
	[FeatureCode] [varchar](100) NOT NULL,
	[FeatureName] [nvarchar](100) NOT NULL,
	[FeaturePath] [varchar](200) NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[FeatureCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[HolidayID] [int] IDENTITY(1,1) NOT NULL,
	[HolidayName] [nvarchar](200) NOT NULL,
	[HolidayDate] [date] NOT NULL,
	[Year] [int] NOT NULL,
	[IsRecurring] [bit] NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HolidayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[NotificationType] [varchar](50) NULL,
	[RelatedRequestID] [int] NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[ReadAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestStatusHistory]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[FromStatus] [varchar](20) NULL,
	[ToStatus] [varchar](20) NOT NULL,
	[ChangedBy] [int] NOT NULL,
	[ChangedDate] [datetime] NULL,
	[Note] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleFeatures]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleFeatures](
	[RoleFeatureID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[FeatureID] [int] NOT NULL,
	[CanCreate] [bit] NULL,
	[CanRead] [bit] NULL,
	[CanUpdate] [bit] NULL,
	[CanDelete] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleFeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleID] ASC,
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [varchar](50) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Level] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[SettingKey] [varchar](100) NOT NULL,
	[SettingValue] [nvarchar](1000) NULL,
	[Description] [nvarchar](500) NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_CreatedAt]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_CreatedAt] ON [dbo].[AuditLogs]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_EmployeeID]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_EmployeeID] ON [dbo].[AuditLogs]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AuditLogs_TableName]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_TableName] ON [dbo].[AuditLogs]
(
	[TableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeRoles_EmployeeID]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeRoles_EmployeeID] ON [dbo].[EmployeeRoles]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeRoles_RoleID]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeRoles_RoleID] ON [dbo].[EmployeeRoles]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_DivisionID]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_DivisionID] ON [dbo].[Employees]
(
	[DivisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_Email]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_Email] ON [dbo].[Employees]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_ManagerID]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_ManagerID] ON [dbo].[Employees]
(
	[ManagerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_Username]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_Username] ON [dbo].[Employees]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveQuotas_EmployeeID_Year]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveQuotas_EmployeeID_Year] ON [dbo].[LeaveQuotas]
(
	[EmployeeID] ASC,
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveQuotas_LeaveTypeID]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveQuotas_LeaveTypeID] ON [dbo].[LeaveQuotas]
(
	[LeaveTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveReasonTemplates_IsActive]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveReasonTemplates_IsActive] ON [dbo].[LeaveReasonTemplates]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveReasonTemplates_LeaveTypeID]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveReasonTemplates_LeaveTypeID] ON [dbo].[LeaveReasonTemplates]
(
	[LeaveTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveReasonTemplates_UsageCount]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveReasonTemplates_UsageCount] ON [dbo].[LeaveReasonTemplates]
(
	[UsageCount] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveRequests_EmployeeID]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveRequests_EmployeeID] ON [dbo].[LeaveRequests]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveRequests_EndDate]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveRequests_EndDate] ON [dbo].[LeaveRequests]
(
	[EndDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveRequests_ProcessedBy]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveRequests_ProcessedBy] ON [dbo].[LeaveRequests]
(
	[ProcessedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveRequests_ReasonTemplateID]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveRequests_ReasonTemplateID] ON [dbo].[LeaveRequests]
(
	[ReasonTemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveRequests_StartDate]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveRequests_StartDate] ON [dbo].[LeaveRequests]
(
	[StartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LeaveRequests_Status]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveRequests_Status] ON [dbo].[LeaveRequests]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_EmployeeID]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_EmployeeID] ON [dbo].[Notifications]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_IsRead]    Script Date: 11/4/2025 4:04:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_IsRead] ON [dbo].[Notifications]
(
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Divisions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Divisions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Divisions] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[EmployeeRoles] ADD  DEFAULT (getdate()) FOR [AssignedDate]
GO
ALTER TABLE [dbo].[EmployeeRoles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Features] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Features] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Holidays] ADD  DEFAULT ((0)) FOR [IsRecurring]
GO
ALTER TABLE [dbo].[Holidays] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LeaveQuotas] ADD  DEFAULT ((0)) FOR [UsedDays]
GO
ALTER TABLE [dbo].[LeaveQuotas] ADD  DEFAULT ((0)) FOR [CarryOverDays]
GO
ALTER TABLE [dbo].[LeaveQuotas] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LeaveQuotas] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[LeaveReasonTemplates] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LeaveReasonTemplates] ADD  DEFAULT ((0)) FOR [UsageCount]
GO
ALTER TABLE [dbo].[LeaveReasonTemplates] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  DEFAULT ('InProgress') FOR [Status]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((12)) FOR [DefaultDaysPerYear]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((1)) FOR [RequiresApproval]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((1)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((1)) FOR [AllowCustomReason]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RequestStatusHistory] ADD  DEFAULT (getdate()) FOR [ChangedDate]
GO
ALTER TABLE [dbo].[RoleFeatures] ADD  DEFAULT ((0)) FOR [CanCreate]
GO
ALTER TABLE [dbo].[RoleFeatures] ADD  DEFAULT ((0)) FOR [CanRead]
GO
ALTER TABLE [dbo].[RoleFeatures] ADD  DEFAULT ((0)) FOR [CanUpdate]
GO
ALTER TABLE [dbo].[RoleFeatures] ADD  DEFAULT ((0)) FOR [CanDelete]
GO
ALTER TABLE [dbo].[RoleFeatures] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[EmployeeRoles]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[EmployeeRoles]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([DivisionID])
REFERENCES [dbo].[Divisions] ([DivisionID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[LeaveQuotas]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[LeaveQuotas]  WITH CHECK ADD FOREIGN KEY([LeaveTypeID])
REFERENCES [dbo].[LeaveTypes] ([LeaveTypeID])
GO
ALTER TABLE [dbo].[LeaveReasonTemplates]  WITH CHECK ADD FOREIGN KEY([LeaveTypeID])
REFERENCES [dbo].[LeaveTypes] ([LeaveTypeID])
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD FOREIGN KEY([LeaveTypeID])
REFERENCES [dbo].[LeaveTypes] ([LeaveTypeID])
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD FOREIGN KEY([ProcessedBy])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD FOREIGN KEY([ReasonTemplateID])
REFERENCES [dbo].[LeaveReasonTemplates] ([TemplateID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([RelatedRequestID])
REFERENCES [dbo].[LeaveRequests] ([RequestID])
GO
ALTER TABLE [dbo].[RequestStatusHistory]  WITH CHECK ADD FOREIGN KEY([ChangedBy])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[RequestStatusHistory]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[LeaveRequests] ([RequestID])
GO
ALTER TABLE [dbo].[RoleFeatures]  WITH CHECK ADD FOREIGN KEY([FeatureID])
REFERENCES [dbo].[Features] ([FeatureID])
GO
ALTER TABLE [dbo].[RoleFeatures]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Rejected' OR [Status]='Approved' OR [Status]='InProgress'))
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD CHECK  (([ReasonTemplateID] IS NOT NULL OR [CustomReason] IS NOT NULL))
GO
/****** Object:  StoredProcedure [dbo].[sp_AddLeaveReasonTemplate]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddLeaveReasonTemplate]
    @LeaveTypeID INT,
    @ReasonText NVARCHAR(500),
    @Description NVARCHAR(500) = NULL,
    @CreatedBy INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF EXISTS (SELECT 1 FROM LeaveReasonTemplates 
                   WHERE LeaveTypeID = @LeaveTypeID 
                   AND ReasonText = @ReasonText 
                   AND IsActive = 1)
        BEGIN
            RAISERROR(N'Template này đã tồn tại!', 16, 1);
            RETURN;
        END
        
        INSERT INTO LeaveReasonTemplates (LeaveTypeID, ReasonText, Description)
        VALUES (@LeaveTypeID, @ReasonText, @Description);
        
        DECLARE @NewTemplateID INT = SCOPE_IDENTITY();
        
        INSERT INTO AuditLogs (TableName, RecordID, Action, EmployeeID, NewValue)
        VALUES ('LeaveReasonTemplates', @NewTemplateID, 'INSERT', @CreatedBy,
                CONCAT('LeaveTypeID:', @LeaveTypeID, ', ReasonText:', @ReasonText));
        
        COMMIT TRANSACTION;
        
        SELECT @NewTemplateID AS TemplateID, 'SUCCESS' AS Status;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ApproveLeaveRequest]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ApproveLeaveRequest]
    @RequestID   INT,
    @ProcessedBy INT,
    @ProcessedNote NVARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    EXEC dbo.sp_ProcessLeaveRequest
         @RequestID = @RequestID,
         @ProcessedBy = @ProcessedBy,
         @Action = 'APPROVE',
         @ProcessedNote = @ProcessedNote;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateLeaveRequest]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tạo lại procedure đã sửa
CREATE PROCEDURE [dbo].[sp_CreateLeaveRequest]
    @EmployeeID INT,
    @LeaveTypeID INT,
    @StartDate DATE,
    @EndDate DATE,
    @ReasonTemplateID INT = NULL,
    @CustomReason NVARCHAR(1000) = NULL,
    @AttachmentPath VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Kiểm tra phải có ít nhất 1 loại lý do
        IF @ReasonTemplateID IS NULL AND @CustomReason IS NULL
        BEGIN
            RAISERROR(N'Phải cung cấp lý do nghỉ phép (template hoặc custom reason)', 16, 1);
            RETURN;
        END
        
        -- ❌ BỎ VALIDATION AllowCustomReason
        -- Cho phép gửi customReason bất kể loại nghỉ phép có cho phép hay không
        -- Vì khi chọn template, servlet tự động gửi tên loại làm customReason
        
        DECLARE @TotalDays DECIMAL(5,1);
        DECLARE @RequestCode VARCHAR(50);
        DECLARE @NewRequestID INT;
        DECLARE @FinalReason NVARCHAR(1000);
        
        -- Tính số ngày làm việc
        SET @TotalDays = (
            SELECT COUNT(*)
            FROM (
                SELECT DATEADD(DAY, number, @StartDate) AS WorkDate
                FROM master..spt_values
                WHERE type = 'P' AND number <= DATEDIFF(DAY, @StartDate, @EndDate)
            ) dates
            WHERE DATEPART(WEEKDAY, WorkDate) NOT IN (1, 7)
        );
        
        -- Xác định lý do cuối cùng
        IF @ReasonTemplateID IS NOT NULL
        BEGIN
            DECLARE @TemplateText NVARCHAR(500);
            SELECT @TemplateText = ReasonText 
            FROM LeaveReasonTemplates 
            WHERE TemplateID = @ReasonTemplateID;
            
            IF @CustomReason IS NOT NULL AND LEN(LTRIM(RTRIM(@CustomReason))) > 0
                SET @FinalReason = @TemplateText + N' ' + @CustomReason;
            ELSE
                SET @FinalReason = @TemplateText;
                
            UPDATE LeaveReasonTemplates 
            SET UsageCount = UsageCount + 1 
            WHERE TemplateID = @ReasonTemplateID;
        END
        ELSE
        BEGIN
            SET @FinalReason = @CustomReason;
        END
        
        -- Tạo mã đơn
        DECLARE @Year VARCHAR(4) = CAST(YEAR(GETDATE()) AS VARCHAR(4));
        DECLARE @SeqNum VARCHAR(4);
        
        SELECT @SeqNum = RIGHT('0000' + CAST(COUNT(*) + 1 AS VARCHAR), 4)
        FROM LeaveRequests
        WHERE YEAR(CreatedAt) = YEAR(GETDATE());
        
        SET @RequestCode = 'LR-' + @Year + '-' + @SeqNum;
        
        -- Insert đơn nghỉ phép
        INSERT INTO LeaveRequests (
            RequestCode, EmployeeID, LeaveTypeID, StartDate, EndDate, 
            TotalDays, ReasonTemplateID, CustomReason, Reason, Status, AttachmentPath
        )
        VALUES (
            @RequestCode, @EmployeeID, @LeaveTypeID, @StartDate, @EndDate,
            @TotalDays, @ReasonTemplateID, @CustomReason, @FinalReason, 'InProgress', @AttachmentPath
        );
        
        SET @NewRequestID = SCOPE_IDENTITY();
        
        -- Ghi lịch sử trạng thái
        INSERT INTO RequestStatusHistory (RequestID, FromStatus, ToStatus, ChangedBy, Note)
        VALUES (@NewRequestID, NULL, 'InProgress', @EmployeeID, N'Tạo đơn mới');
        
        -- Ghi audit log
        INSERT INTO AuditLogs (TableName, RecordID, Action, EmployeeID, NewValue)
        VALUES ('LeaveRequests', @NewRequestID, 'INSERT', @EmployeeID, 
                CONCAT('RequestCode:', @RequestCode, ', StartDate:', @StartDate, ', EndDate:', @EndDate, ', Reason:', @FinalReason));
        
        -- Tạo thông báo cho quản lý
        DECLARE @ManagerID INT;
        SELECT @ManagerID = ManagerID FROM Employees WHERE EmployeeID = @EmployeeID;
        
        IF @ManagerID IS NOT NULL
        BEGIN
            INSERT INTO Notifications (EmployeeID, Title, Message, NotificationType, RelatedRequestID)
            VALUES (@ManagerID, N'Đơn nghỉ phép mới cần xét duyệt', 
                    CONCAT(N'Bạn có đơn nghỉ phép mới từ nhân viên cần xét duyệt. Mã đơn: ', @RequestCode),
                    'LeaveRequest', @NewRequestID);
        END
        
        COMMIT TRANSACTION;
        
        SELECT @NewRequestID AS RequestID, @RequestCode AS RequestCode, @FinalReason AS FinalReason, 'SUCCESS' AS Status;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteLeaveReasonTemplate]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteLeaveReasonTemplate]
    @TemplateID INT,
    @DeletedBy INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        UPDATE LeaveReasonTemplates
        SET IsActive = 0
        WHERE TemplateID = @TemplateID;
        
        INSERT INTO AuditLogs (TableName, RecordID, Action, EmployeeID, OldValue)
        VALUES ('LeaveReasonTemplates', @TemplateID, 'DELETE', @DeletedBy,
                CONCAT('TemplateID:', @TemplateID, ', IsActive:1'));
        
        COMMIT TRANSACTION;
        
        SELECT 'SUCCESS' AS Status;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDivisionAgenda]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDivisionAgenda]
    @DivisionID INT,
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        e.EmployeeID,
        e.EmployeeCode,
        e.FullName,
        d.DateValue,
        CASE 
            WHEN lr.RequestID IS NOT NULL THEN 'OnLeave'
            WHEN DATEPART(WEEKDAY, d.DateValue) IN (1, 7) THEN 'Weekend'
            WHEN h.HolidayID IS NOT NULL THEN 'Holiday'
            ELSE 'Working'
        END AS Status,
        lt.LeaveTypeName,
        lr.RequestCode
    FROM Employees e
    CROSS JOIN (
        SELECT DATEADD(DAY, number, @StartDate) AS DateValue
        FROM master..spt_values
        WHERE type = 'P' 
            AND DATEADD(DAY, number, @StartDate) <= @EndDate
    ) d
    LEFT JOIN LeaveRequests lr ON 
        e.EmployeeID = lr.EmployeeID
        AND lr.Status = 'Approved'
        AND d.DateValue BETWEEN lr.StartDate AND lr.EndDate
    LEFT JOIN LeaveTypes lt ON lr.LeaveTypeID = lt.LeaveTypeID
    LEFT JOIN Holidays h ON d.DateValue = h.HolidayDate
    WHERE 
        e.DivisionID = @DivisionID
        AND e.IsActive = 1
    ORDER BY e.EmployeeCode, d.DateValue;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLeaveQuota]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLeaveQuota]
    @EmployeeID INT,
    @Year INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @Year IS NULL
        SET @Year = YEAR(GETDATE());
    
    SELECT 
        lq.QuotaID,
        lq.Year,
        lt.LeaveTypeName,
        lt.LeaveTypeCode,
        lq.TotalDays,
        lq.UsedDays,
        lq.RemainingDays,
        lq.CarryOverDays,
        e.FullName AS EmployeeName,
        e.EmployeeCode
    FROM LeaveQuotas lq
    INNER JOIN LeaveTypes lt ON lq.LeaveTypeID = lt.LeaveTypeID
    INNER JOIN Employees e ON lq.EmployeeID = e.EmployeeID
    WHERE 
        lq.EmployeeID = @EmployeeID
        AND lq.Year = @Year
    ORDER BY lt.LeaveTypeCode;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLeaveReasonTemplates]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLeaveReasonTemplates]
    @LeaveTypeID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        t.TemplateID,
        t.ReasonText,
        t.Description,
        t.UsageCount,
        lt.LeaveTypeID,
        lt.LeaveTypeName,
        lt.LeaveTypeCode,
        lt.AllowCustomReason
    FROM LeaveReasonTemplates t
    INNER JOIN LeaveTypes lt ON t.LeaveTypeID = lt.LeaveTypeID
    WHERE 
        t.IsActive = 1
        AND (@LeaveTypeID IS NULL OR t.LeaveTypeID = @LeaveTypeID)
    ORDER BY lt.LeaveTypeCode, t.UsageCount DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLeaveRequests]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tạo lại stored procedure với đầy đủ cột
CREATE PROCEDURE [dbo].[sp_GetLeaveRequests]
    @EmployeeID INT,
    @Status VARCHAR(20) = NULL,
    @StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @RoleLevel INT;
    DECLARE @DivisionID INT;
    
    -- Lấy role level và division của employee
    SELECT TOP 1 
        @RoleLevel = r.Level,
        @DivisionID = e.DivisionID
    FROM Employees e
    INNER JOIN EmployeeRoles er ON e.EmployeeID = er.EmployeeID
    INNER JOIN Roles r ON er.RoleID = r.RoleID
    WHERE e.EmployeeID = @EmployeeID
    ORDER BY r.Level;
    
    -- Trả về danh sách đơn với ĐẦY ĐỦ các cột
    SELECT 
        lr.RequestID,
        lr.RequestCode,
        lr.EmployeeID,                    -- ✅ THÊM
        lr.LeaveTypeID,                   -- ✅ THÊM
        lr.StartDate,
        lr.EndDate,
        lr.TotalDays,
        lr.ReasonTemplateID,              -- ✅ THÊM
        lr.CustomReason,                  -- ✅ THÊM
        lr.Reason,
        lr.Status,
        lr.ProcessedBy,                   -- ✅ THÊM
        lr.ProcessedDate,
        lr.ProcessedNote,
        lr.AttachmentPath,                -- ✅ THÊM
        lr.CreatedAt,
        lr.UpdatedAt,                     -- ✅ THÊM
        e.EmployeeCode,
        e.FullName AS EmployeeName,
        d.DivisionName,
        lt.LeaveTypeName,
        p.FullName AS ProcessedByName
    FROM LeaveRequests lr
    INNER JOIN Employees e ON lr.EmployeeID = e.EmployeeID
    INNER JOIN Divisions d ON e.DivisionID = d.DivisionID
    INNER JOIN LeaveTypes lt ON lr.LeaveTypeID = lt.LeaveTypeID
    LEFT JOIN Employees p ON lr.ProcessedBy = p.EmployeeID
    WHERE 
        (
            -- CEO/Admin: xem tất cả
            @RoleLevel <= 1
            OR
            -- Manager cấp cao: xem trong phòng ban
            (@RoleLevel = 2 AND e.DivisionID = @DivisionID)
            OR
            -- Team lead: xem nhân viên dưới quyền
            (@RoleLevel = 3 AND (e.ManagerID = @EmployeeID OR e.EmployeeID = @EmployeeID))
            OR
            -- Nhân viên: chỉ xem của mình
            (@RoleLevel >= 4 AND e.EmployeeID = @EmployeeID)
        )
        AND (@Status IS NULL OR lr.Status = @Status)
        AND (@StartDate IS NULL OR lr.StartDate >= @StartDate)
        AND (@EndDate IS NULL OR lr.EndDate <= @EndDate)
    ORDER BY lr.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLeaveStatistics]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLeaveStatistics]
    @DivisionID INT = NULL,
    @Year INT = NULL,
    @Month INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @Year IS NULL
        SET @Year = YEAR(GETDATE());
    
    SELECT 
        d.DivisionName,
        lt.LeaveTypeName,
        COUNT(lr.RequestID) AS TotalRequests,
        SUM(CASE WHEN lr.Status = 'Approved' THEN 1 ELSE 0 END) AS ApprovedRequests,
        SUM(CASE WHEN lr.Status = 'Rejected' THEN 1 ELSE 0 END) AS RejectedRequests,
        SUM(CASE WHEN lr.Status = 'InProgress' THEN 1 ELSE 0 END) AS PendingRequests,
        SUM(CASE WHEN lr.Status = 'Approved' THEN lr.TotalDays ELSE 0 END) AS TotalLeaveDays,
        AVG(CASE WHEN lr.Status = 'Approved' THEN lr.TotalDays ELSE NULL END) AS AvgLeaveDays
    FROM LeaveRequests lr
    INNER JOIN Employees e ON lr.EmployeeID = e.EmployeeID
    INNER JOIN Divisions d ON e.DivisionID = d.DivisionID
    INNER JOIN LeaveTypes lt ON lr.LeaveTypeID = lt.LeaveTypeID
    WHERE 
        YEAR(lr.CreatedAt) = @Year
        AND (@Month IS NULL OR MONTH(lr.CreatedAt) = @Month)
        AND (@DivisionID IS NULL OR e.DivisionID = @DivisionID)
    GROUP BY d.DivisionName, lt.LeaveTypeName
    ORDER BY d.DivisionName, lt.LeaveTypeName;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTopUsedReasonTemplates]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTopUsedReasonTemplates]
    @LeaveTypeID INT = NULL,
    @TopCount INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@TopCount)
        t.TemplateID,
        t.ReasonText,
        t.Description,
        t.UsageCount,
        lt.LeaveTypeName,
        lt.LeaveTypeCode
    FROM LeaveReasonTemplates t
    INNER JOIN LeaveTypes lt ON t.LeaveTypeID = lt.LeaveTypeID
    WHERE 
        t.IsActive = 1
        AND (@LeaveTypeID IS NULL OR t.LeaveTypeID = @LeaveTypeID)
    ORDER BY t.UsageCount DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessLeaveRequest]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ProcessLeaveRequest]
  @RequestID INT,
  @ProcessedBy INT,
  @Action VARCHAR(20),
  @ProcessedNote NVARCHAR(1000) = NULL
AS
BEGIN
  SET NOCOUNT ON;
  SET XACT_ABORT ON;

  BEGIN TRY
    BEGIN TRAN;

    IF NOT EXISTS (SELECT 1 FROM dbo.LeaveRequests WHERE RequestID=@RequestID)
      RAISERROR(N'Không tìm thấy đơn',16,1);

    IF @ProcessedBy IS NULL OR NOT EXISTS (SELECT 1 FROM dbo.Employees WHERE EmployeeID=@ProcessedBy)
      RAISERROR(N'Người duyệt không hợp lệ',16,1);

    DECLARE @OldStatus VARCHAR(20), @EmployeeID INT, @LeaveTypeID INT, @TotalDays DECIMAL(5,1);
    SELECT @OldStatus=Status, @EmployeeID=EmployeeID, @LeaveTypeID=LeaveTypeID, @TotalDays=TotalDays
    FROM dbo.LeaveRequests WHERE RequestID=@RequestID;

    IF @OldStatus <> 'InProgress'
      RAISERROR(N'Đơn này đã được xử lý rồi!',16,1);

    DECLARE @NewStatus VARCHAR(20) =
      CASE WHEN UPPER(@Action)='APPROVE' THEN 'Approved' ELSE 'Rejected' END;

    UPDATE dbo.LeaveRequests
      SET Status=@NewStatus, ProcessedBy=@ProcessedBy,
          ProcessedDate=GETDATE(), ProcessedNote=@ProcessedNote, UpdatedAt=GETDATE()
    WHERE RequestID=@RequestID;

    IF @@ROWCOUNT <> 1 RAISERROR(N'Cập nhật trạng thái thất bại',16,1);

    INSERT INTO dbo.RequestStatusHistory(RequestID,FromStatus,ToStatus,ChangedBy,Note)
    VALUES(@RequestID,@OldStatus,@NewStatus,@ProcessedBy,@ProcessedNote);

    IF UPPER(@Action)='APPROVE'
    BEGIN
      -- Nếu thiếu quota, chỉ bỏ qua cập nhật quota (không chặn duyệt)
      UPDATE dbo.LeaveQuotas
        SET UsedDays=UsedDays+@TotalDays, RemainingDays=RemainingDays-@TotalDays, UpdatedAt=GETDATE()
      WHERE EmployeeID=@EmployeeID AND LeaveTypeID=@LeaveTypeID AND [Year]=YEAR(GETDATE());
    END

    INSERT INTO dbo.AuditLogs(TableName,RecordID,Action,EmployeeID,OldValue,NewValue)
    VALUES('LeaveRequests',@RequestID,'UPDATE',@ProcessedBy,
           CONCAT('Status:',@OldStatus),
           CONCAT('Status:',@NewStatus,', ProcessedBy:',@ProcessedBy));

    INSERT INTO dbo.Notifications(EmployeeID,Title,Message,NotificationType,RelatedRequestID)
    VALUES(@EmployeeID,
           CASE WHEN UPPER(@Action)='APPROVE'
                THEN N'Đơn nghỉ phép của bạn đã được phê duyệt'
                ELSE N'Đơn nghỉ phép của bạn đã bị từ chối' END,
           ISNULL(@ProcessedNote,N'Không có ghi chú'),
           CASE WHEN UPPER(@Action)='APPROVE' THEN 'Approval' ELSE 'Rejection' END,
           @RequestID);

    COMMIT;
    SELECT 'SUCCESS' AS Status, @NewStatus AS NewStatus;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT>0 ROLLBACK;
    DECLARE @Err NVARCHAR(4000)=ERROR_MESSAGE();
    RAISERROR(@Err,16,1);
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RejectLeaveRequest]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RejectLeaveRequest]
    @RequestID   INT,
    @ProcessedBy INT,
    @ProcessedNote NVARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    EXEC dbo.sp_ProcessLeaveRequest
         @RequestID = @RequestID,
         @ProcessedBy = @ProcessedBy,
         @Action = 'REJECT',
         @ProcessedNote = @ProcessedNote;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateLeaveReasonTemplate]    Script Date: 11/4/2025 4:04:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateLeaveReasonTemplate]
    @TemplateID INT,
    @ReasonText NVARCHAR(500),
    @Description NVARCHAR(500) = NULL,
    @UpdatedBy INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @OldValue NVARCHAR(MAX);
        SELECT @OldValue = CONCAT('ReasonText:', ReasonText, ', Description:', Description)
        FROM LeaveReasonTemplates
        WHERE TemplateID = @TemplateID;
        
        UPDATE LeaveReasonTemplates
        SET ReasonText = @ReasonText,
            Description = @Description
        WHERE TemplateID = @TemplateID;
        
        INSERT INTO AuditLogs (TableName, RecordID, Action, EmployeeID, OldValue, NewValue)
        VALUES ('LeaveReasonTemplates', @TemplateID, 'UPDATE', @UpdatedBy,
                @OldValue,
                CONCAT('ReasonText:', @ReasonText, ', Description:', @Description));
        
        COMMIT TRANSACTION;
        
        SELECT 'SUCCESS' AS Status;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
USE [master]
GO
